doctype html
html
  head
    title M3makeupmantra
    block scripts
    block style
  body
    nav#navbar 
            ul 
                div#logo
                    img(src='/static/a11.jpg')
                    | M3
                li #[a(href="/") Name]
                li #[a(href="/") About]
                li #[a(href="/") Services ]
                li #[a(href="/") Class Info]
                li #[a(href="/contact") Contact Us]
    block content
    block foot
        footer#footer 
            | Copyright @ 2024 www.m3makeupmantra.com   |   All rights reserved